.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.title{
    font-size: 30px;
    color: white;
}
.header{
    background-color: #2F4F4E;
    height: 100px;
    width: 100vw;
}
.todoContainer{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
   
}
.form{
    width: 30%;
    margin-right: 30px;
    min-width: 300px;
}